.env
**/node_modules/
node_modules/


# =========================
# Python Virtual Environments (anywhere)
# =========================
venv/
**/venv/
.venv/
**/.venv/
env/
**/env/

# =========================
# Python Cache
# =========================
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/
.eggs/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Database files
# =========================
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
